header {
  background-color: #690D2C;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}
header .nav-list ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header .nav-list ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}
header .nav-list ul li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
header .nav-list ul li a:hover::after {
  width: 100%;
}
header .mobile-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 110;
}
header .mobile-menu .line {
  height: 3px;
  width: 100%;
  background-color: white;
  transition: all 0.3s ease;
  transform-origin: center;
}
header .mobile-menu.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .mobile-menu.open .line:nth-child(2) {
  opacity: 0;
}
header .mobile-menu.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }
  header .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    transition: height 0.3s ease;
  }
  header .nav-list ul {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  header .nav-list ul li {
    margin: 20px 0;
  }
  header .nav-list.active {
    height: 390px;
  }
  header .mobile-menu {
    display: flex;
  }
}

.sectionUm {
  background: url(../../images/pages/imgSectionUm.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .sectionUm {
    background: url(../../images/pages/imgSectionUmMobile.webp);
    background-size: cover;
    background-position: center center;
  }
}
.sectionUm .conteudo {
  width: 70%;
  height: 80%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 1024px) {
  .sectionUm .conteudo {
    width: 85%;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .sectionUm .conteudo {
    width: 90%;
    gap: 25px;
  }
}
@media (max-width: 480px) {
  .sectionUm .conteudo {
    padding-top: 2rem;
    gap: 20px;
  }
}
.sectionUm .conteudo .header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .sectionUm .conteudo .header-info {
    gap: 24px;
  }
}
.sectionUm .conteudo .header-info h2 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .sectionUm .conteudo .header-info h2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .sectionUm .conteudo .header-info h2 {
    font-size: 18px;
  }
}
.sectionUm .conteudo .main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 70px;
  font-family: "Merriweather", serif;
}
@media (max-width: 768px) {
  .sectionUm .conteudo .main-title {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .sectionUm .conteudo .main-title {
    font-size: 30px;
  }
}
.sectionUm .conteudo .event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .sectionUm .conteudo .event-info {
    gap: 20px;
  }
}
.sectionUm .conteudo .event-info p {
  font-size: 22px;
}
@media (max-width: 768px) {
  .sectionUm .conteudo .event-info p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .sectionUm .conteudo .event-info p {
    font-size: 17px;
  }
}
.sectionUm .conteudo .event-info .button1 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #690D2C;
  box-shadow: 6px 6px 12px #690D2C, -6px -6px 12px #690D2C;
}
.sectionUm .conteudo .event-info .button1:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #690D2C, inset -4px -4px 12px #690D2C;
}
.sectionUm .conteudo .event-info .button1::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.sectionUm .conteudo .event-info .button1::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #690D2C;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.sectionUm .conteudo .event-info .button1:hover {
  color: #ffffff;
  border: 1px solid #690D2C;
}
.sectionUm .conteudo .event-info .button1:hover::before {
  top: -35%;
  background-color: #690D2C;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.sectionUm .conteudo .event-info .button1:hover::after {
  top: -45%;
  background-color: #690D2C;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../scss/pages/_header.scss%22,%22../../scss/pages/_sectionUm.scss%22,%22../../scss/global/_normalize.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EACE;;AAGF;EACE;;AAIJ;EAvEF;IAwEI;;EAEA;IACE;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAEA;IACE;IACA;IACA;;EAEA;IACE;;EAIJ;IACE;;EAIJ;IACE;;;;ACpGN;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAXJ;IAYQ;IACA;IACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAZJ;IAaQ;IACA;;;AAGJ;EAjBJ;IAkBQ;IACA;;;AAGJ;EAtBJ;IAuBQ;IACA;;;AAGJ;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;AAGJ;EACI;;AAEA;EAHJ;IAIQ;;;AAGJ;EAPJ;IAQQ;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEI;EARR;IASY;;;AAGJ;EAZR;IAaY;;;AAIZ;EACI;EACA;EACA;EACA;;AAEA;EANJ;IAOQ;;;AAGJ;EACI;;AAEA;EAHJ;IAIQ;;;AAGJ;EAPJ;IAQQ;;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;;ACzKpB;EACI;EACA;EACA;EACA%22,%22file%22:%22main.css%22%7D */
